<!DOCTYPE html>
<html>
<head>
    <title>Data from MySQL Database</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <h1>Data from MySQL Database</h1>
    <table>
        <thread>
            <tr>
                <th>Nim</th>
                <th>Nama</th>
                <th>Prodi</th>
            </tr>
        </thread>
        <tbody>
            {% for obj in mahasiswa %}
            <tr>
                <td>{{ obj.nim }}</td>
                <td>{{ obj.nama }}</td>
                <td>{{ obj.prodi }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>